<nav class="nav">
  <div class="nav__button"><div class="wrapper">open</div></div>

  <div class="nav__links page-section">
    <div class="wrapper">
      <li class="nav__link"><a href="#">Home</a></li>
      <li class="nav__link"><a href="#">Conditions we Treat</a></li>
      <li class="nav__link">
        <a href="#">Non-Surgical Spinal Decompression</a>
      </li>
      <li class="nav__link"><a href="#">About Us</a></li>
      <li class="nav__link"><a href="#">Team</a></li>
      <li class="nav__link"><a href="#">Pricing</a></li>
      <li class="nav__link"><a href="#">Contact</a></li>
    </div>
  </div>
</nav>
