<div>
  <ul>
    <h3>WE specialize in:</h3>
    <li>Low back pain</li>
    <li>Bulging Discs</li>
    <li>Sciatica</li>
    <li>Sports Injury</li>
    <li>Non-Surgical Spinal Decompression</li>
    <li>Spinal Mobilisations</li>
    <li>Chronic Pain</li>
  </ul>
</div>
