.business-details {
    display: flex;
    flex-direction: column;
    &__booking {
        h2 {
            color: #fff;
        }
        text-align: center;
        padding: 2rem;
    }
    &__info {
        display: flex;
        div {
            width:100%;
            padding: 2rem;
        }
    }
    &__summary {
        background-color: $orange;
    }
    &__address {
        background-color: #8b99a2;
    }
    &__phone {
        background-color:#4e78b1;
    }
    &__working-hours {
        background-color: #649be4;
    }
}