.checklist {
  list-style-type: none;
  padding: 0;
  color: gray;
  font-size: 1.3rem;
  li::before {
    content: "\2611";
    padding-right: 0.7rem;
    color: inherit;
  }
  li {
    font-weight: 300;
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid grey;
  }
}
