.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  &__img {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    img {
      object-position: left;
      position: relative;
      object-fit: cover;
      height: 100%;
      width: 100%;
      @media (min-width: 800px) {
        left: 0;
      }
    }
  }
  &__overlay {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    z-index: 100;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $greyFilter;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__header {
    line-height: 1.8;
  }
}
