.page-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  &--no-p {
    padding: 0;
  }
  &--full-height {
    height: 100vh;
  }
  &--small {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &--dark-blue {
    background-color: $darkBlue;
    color: #fff;
  }
  &--navy {
    background-color: $navy;
  }
  &--white {
    background-color: #fff;
  }
  &--light-grey,
  &--light-gray {
    background-color: $lightGray;
  }
}
