---
layout: layout.ejs
---

<main style="text-align: center; min-height: 100vh">
  <section class="page-section">
    <div class="wrapper">
      <h1>404: Page Not Found</h1>
      <p>Sorry we couldnt find what you were looking for</p>
    </div>
  </section>
</main>
