<%- include('/header', {title: "About DCI ", description: `DCI description`,
active: 3}) %>
<main>
  <section class="page-section page-section--first">
    <div class="wrapper">
      <h1>About</h1>
    </div>
  </section>
  <section class="page-section" id="about-service">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-content">
          <p class="sub-title">
            DC Physio Clondalkin a Specialised Chartered Physiotherapy Clinic
            was set up in 2014.
          </p>
          <p>
            DC Physio Clondalkin is well situated in Dublin 22 in Newlands
            Business Park, Clondalkin, Dublin 22 with easy access to surrounding
            areas such as Tallaght, Lucan, Ballyfermot, Palmerstown, Chapelizod,
            Park West and City West, also serving the greater Dublin area.
          </p>
          <p>
            DC Physio Clondalkin are experts in Manual Therapy, Exercise
            Rehabilitation, Dry Needling and Non-Surgical Spinal Decompression
            Therapy in the treatment of Low Back and Neck Pain.
          </p>
          <p>
            DC Physio Clondalkin`s mission is to prevent our clients requiring
            Spinal Surgery via a Comprehensive Assessment, Diagnosement and
            State of The Art Treatment.
          </p>
          <p>
            Non-Surgical Spinal Decompression Therapy is a revolutionary
            treatment for Low Back and Neck Pain. DC Physiotherapy Clondalkin
            offer the latest cutting-edge technology in this field, we are
            experts in treating serious lower back pain, neck pain and sciatica.
          </p>
          <p>
            Non-Surgical Spinal Decompression is the Latest Cutting Edge
            Technology in the treatment of Low Back Pain, Neck Pain and Spinal
            Disc Herniations.
          </p>
          <p>
            All our Chartered Physiotherapists in Clondalkin / Lucan are experts
            and specialise in Low Back and Neck Pain.
          </p>
        </div>
        <div class="generic-image">
          <picture>
            <img src="/assets/images/david-in-dc-physiotherapy.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </section>
  <section id="location-access" class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-about-us-map.webp" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <p class="sub-title">
            DC Physiotherapy Clinic is well situated in Clondalkin Village, with
            easy access from surrounding areas such as:
          </p>
          <ul
            class="surrounding-areas checklist checklist--arrow checklist--condensed"
          >
            <li>PALMERSTOWN</li>
            <li>TALLAGHT</li>
            <li>LUCAN</li>
            <li>Ballyfermot</li>
            <li>Chapelizod</li>
            <li>Park West</li>
            <li>City West</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="quote" class="page-section">
    <div class="wrapper">
      <div class="quote">
        Do you have acute or chronic pain? Affecting your every day life? Would
        you like pain relief FAST?
      </div>
    </div>
  </section>
  <section class="page-section page-section--light-gray">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-physiotherapy-clondalkin.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <p class="sub-title">
            At DC Physio Clondalkin / Lucan Dublin we are experts in getting you
            pain free FAST.
          </p>
          <p>
            Physiotherapy aims to reduce pain physical dysfunction or injury a
            patient may present with.
          </p>
          <p>
            Physiotherapy in our Clondalkin / Lucan Clinic can reduce the
            recurrence of injury and speed up recovery time.
          </p>
          <p>
            A Physiotherapy session normally last 30 minutes in duration after
            which the Physiotherapist will have diagnosed the injury, then the
            physio will discuss treatments.
          </p>
          <p>
            Physiotherapy treatments can include joint mobilization or spinal
            manipulation, deep tissues massage, exercise therapy or dry
            needling.
          </p>
          <p>
            DC Physio Clondalkin are experts in Non-Surgical Spinal
            Decompression.
          </p>
          <p>
            All Physiotherapists in DC Physio Clondalkin are menbers of the
            Irish Society of Chartered Physiotherapists.
            <a href="https://www.iscp.ie/">ISPC</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-content">
          <p>
            DC Physio Clondalkin / Lucan Dublin 22 are experts in assessing,
            diagnosing and treating physical injuries and disability through
            physical means. We like to empower our clients to take an active
            part in their Physiotherapy Rehabilitation.
          </p>
          <p>
            We can help people affected by injury, illness or disability through
            movement and exercise, manual therapy, education and advice.
          </p>
          <p>
            DC Physio Clondalkin / Lucan Dublin 22 are expert physiotherapists
            in movement and function who work in partnership with our patients,
            assisting them to overcome movement disorders, which may have been
            present from birth, acquired through accident or injury, or are the
            result of ageing or life-changing events.
            <a href="https://www.rejuvadisc.ie/">rejuvadisc.ie</a>
          </p>
        </div>
        <div class="generic-image">
          <picture>
            <img src="/assets/images/physiotherapy.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </section>
  <section id="what-is-physiotherapy" class="page-section">
    <div class="wrapper">
      <h2><span>Sports</span> Physiotherapy Clondalkin</h2>
      <div class="generic-content">
        <i> What is Sports Physiotherapy?</i>
        <p>
          Sports Physiotherapy is a physiotherapist who specialises in treating
          injuries and issues related to sports people.
        </p>
        <p>
          Sports injuries can differ to non-sporting injuries as these types of
          injuries are normally associate with trauma.
        </p>
        <p>
          At DC Physiotherapy Clondalkin Lucan Dublin 22 we are experts in
          treating Sports Injuries.
        </p>
        <p>
          Our Physiotherapist's are trained to use sophisticated manual muscle
          testing. This enable us to assess a high level athlete's dysfunctional
          movement patterns. Once the dysfunctional movement patterns have been
          identified. we can prescribe exercise to address the cause of pain or
          dysfunction and restore the athlete to their full potential.
        </p>
        <p>
          DC Physio Clondalkin aim to get our clients out of pain asap so they
          can perform at their very best.
        </p>
      </div>
    </div>
  </section>
  <section class="page-section" id="video">
    <div class="wrapper">
      <iframe
        title="DCPhysiotherapy.mp4 Video"
        class="wp-embedded-content lazyloaded"
        sandbox="allow-scripts"
        security="restricted"
        data-secret="uCV9LtysjL"
        scrolling="no"
        data-src="https://fast.wistia.net/embed/iframe/u4mj4x2dol?dnt=1#?secret=uCV9LtysjL"
        width="640"
        height="360"
        frameborder="0"
      ></iframe>
    </div>
  </section>
  <%- include('/reviews-carousel')%> <%- include('/business-details')%>
</main>
<%- include('/footer') %>
