---
layout: layout.ejs
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-ankle-sprain.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <h1 class="headline headline--normal">Ankle Sprain</h1>

          <p>
            An ankle sprain is a very common injury but unfortunately, it is
            often not rehabilitated properly.
          </p>

          <p>
            The first line of action is to rule out any possible fractures
            which, in this area, are not very obvious. If there are no signs of
            a fracture and the bones are intact, then we are dealing with a
            varying combination of muscle and ligament strains which can either
            be completely localized at the outer side of the ankle or in severe
            cases might involve the side of the foot and extend to the sides of
            the leg.
          </p>

          <p>
            Simple ankle sprains involve just a few ligament fibers and it can
            settle down in just a few weeks and a normal joint function return
            is possible without needing any treatment.
          </p>

          <p>
            A moderate case of an ankle sprain will cause discomfort during
            walking and there might be some obvious swelling accompanied by some
            discoloration and bruising. This type of sprain usually requires 3
            to 4 weeks of complete rest but normal walking function should
            return within the first two weeks.
          </p>

          <p>
            If the levels of pain are more severe and there is difficulty in
            conducting daily activities (for more than a week) then there might
            be some serious ligament damage which not only involves the Lateral
            ankle ligament (outer side of the foot) but might also involve the
            midfoot ligaments, medial ankle (inner ankle) and/or joint located
            above the ankle socket called Syndesmosis.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <div class="generic-content">
        <p>
          A couple of different clinical diagnostic tests can be used to
          determine the extent of the damage and prescribe the right course of
          action that is most suitable. Cartilage damage is another complicating
          factor involved in severe ankle sprains which also presents with
          bruising. Such cases need to be recognized and managed separately from
          common ankle sprains as they might require surgery and are certainly
          much more long-term and challenging to treat.
        </p>

        <p>
          As far as physiotherapy is concerned, the key element here is to
          recognize the extent of the damage and plan a rehabilitation program
          that will achieve the fastest possible recovery. A sports
          physiotherapist would have a wealth of experience of assessing and
          treating ankle injuries.
        </p>

        <p>
          The recurrence of ankle sprains is a major issue and there a huge
          volume of research is going on to address this problem. Despite
          conducting all this research, the most agreed upon conclusion is the
          risk of ankle sprain recurrence is increased if there is a previous
          sprain.
        </p>

        <p>
          The matter complicates further by utilizing poor management strategies
          such as resting, taking it easy, and using anti-inflammatory
          medications. While these methodologies are important but they don't
          offer any concrete or permanent solution. What we see in most cases is
          that the ankle pain subsides and proper functionality is restored but
          the ankle doesn't feel right or there is some instability with sudden
          movements when walking on uneven grounds.
        </p>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <div class="generic-content">
        <p>
          These issues present so frequently because in most cases some residual
          problems of reduced muscle strength, flexibility deficits,
          compensatory movements, and poor coordination are present which take
          the pressure away from the injury site.
        </p>

        <p>
          A sports physiotherapist's role is to identify and/or exclude the
          presence of any of these components and restore load tolerance/normal
          function to ensure that the pre-injury status is returned.
        </p>

        <p>
          Once a ligament is stretches, it will not recoil to its original size.
          Therefore, a sports physiotherapists will prescribe exercise to
          improve the muscle control in the ankle.
        </p>
      </div>
    </div>
  </section>
  <%- include('/business-details')%>
</main>
