---
layout: layout.ejs
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-arthritis.jpg" alt="" />
          </picture>
        </div>

        <div class="generic-content">
          <h1 class="headline headline--normal">Arthritis | Osteoarthritis</h1>

          <p>
            Often pains and aches are defined during the term Arthritis. In
            reality, there are various types and forms of arthritis. Most common
            forms of arthritis include rheumatoid arthritis, osteoarthritis or
            common “wear and tear”, degenerative arthritis, infective and
            juvenile arthritis. Each type of arthritis differs in symptoms and
            requires different treatment.
          </p>

          <p>
            Just like any other disease, there is a severity scale with two
            polar extremes as well as varying points that lie between. After
            determining the severity of the disease a proper treatment plan can
            be formed. Where do you lie on this scale? This is crucial in
            determining the treatment plan as well as the subsequent outcome
            (also called prognosis).
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <div class="generic-content">
        <h1 class="headline">
          <span class="headline--blue">Arthritis</span> | Osteoarthritis
        </h1>
        <details open class="details">
          <summary>Osteoarthritis - Explained</summary>
          <p>
            Osteoarthritis/degenerative arthritis is the most common type of
            arthritis. It is also known as a degenerative joint disease (DJD).
            It is important to mention here that osteoarthritis has a very large
            spectrum of severity and progression. In its milder form, the
            patient might just feel some pain while doing an activity but if the
            disease has progressed substantially, a complete joint replacement
            might be required.
          </p>
        </details>
        <details class="details">
          <summary>How Physiotherapy Can Help In Treating Arthritis</summary>

          <p>
            Many patients can get comprehensive help in treating and managing
            their arthritis by utilizing physiotherapy techniques involving
            stretching, mobilization, muscle strengthening, and postural
            training. Physiotherapy techniques aim to reduce the symptoms of
            arthritis by reducing pain and improving functionality whereas
            arthritis itself remains in its current form.
          </p>

          <p>
            An effective physiotherapy regiment involves evaluating each case by
            using relevant examination as well as treatment procedures to
            determine the best course of action. Getting a diagnosis of
            arthritis doesn’t mean “start of the end” as many generally think.
            Although it is generally thought that there is no “cure” for
            arthritis, it can be effectively managed by determining the stage
            and progression of the disease.
          </p>
        </details>
        <details class="details">
          <summary>Arthritis – Treatment</summary>
          <p>
            In the very initial stages of arthritis, pain is usually present in
            the soft tissue that surrounds the joint and this can be treated
            very effectively using physiotherapy. If the pain is left untreated,
            it can cause the joint to stiffen up which in turn restricts joint
            mobility and a very vicious cycle of repeated tissue irritation
            begins due to these flexibility deficits.
          </p>
          <p>
            Some secondary effects on muscle functionality such as muscle
            becoming inhibited or getting switched off are also caused by
            arthritis progression. The role of a competent physiotherapist is to
            identify these secondary elements and implement a correction program
            to resolve these issues.
          </p>
        </details>
        <details class="details">
          <summary>Arthritis – Surgery</summary>
          <p>
            When the pain originates from any joint surface, this can be a cause
            of serious concern. In few cases, treating soft tissues helps unload
            the joint surfaces and can ease the pain. However, if the surface
            becomes rough, broken off, or worn away this will require either
            “clean up” or an exploratory surgery also called arthroscopy or in
            most serious cases, a joint replacement.
          </p>
        </details>
      </div>
    </div>
  </section>
</main>
