---
layout: layout.ejs
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-bulging-disc.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <h1 class="headline headline--normal">Bulging Discs</h1>

          <p>
            A bulging disc injury can be very painful. A disc bulge occurs when
            a section of the disc squeezes against a nerve root from the spinal
            cord and presses on it, this results in nerve pain referring in a
            limb.
          </p>

          <p>
            Pending on the degree of the injury, some patients may experience a
            wide range of symptoms which includes; numbness, pains, tingling,
            pins and needles or even muscle spasms.
          </p>

          <p>
            Spinal discs are cushions that act as shock absorbers between the
            bony vertebrae in ones spine. Discs have an outer layer of tough
            cartilage, in the centre the disc is made of softer cartilage.
          </p>

          <p>
            Spinal discs can be degenerative and show signs of wear and tear
            with age. In later life, disc becomes less fluid like, and the
            cartilage stiffens. The aforementioned changes may cause the disc to
            bulge out fairly evenly all the way around its border.
          </p>

          <p>
            A disc bulge do not always affect the whole edge of the disc,
            however, at least half of the discs circumference is normally
            involved.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <div class="generic-content">
        <h1 class="headline headline--normal">Herniated Disc</h1>
        <p>
          A herniated disc occurs when the outer layer of cartilage fails and
          opens which allows the softer inner cartilage to protrude out
          laterally of centrally of the disc.
        </p>

        <p>
          Another term for a herniated disc is a disc rupture or slipped disc,
          although the whole disc cannot slip. A small area which is crack is
          normally affected.
        </p>

        <p>
          A bulging disc is less likely to cause pain when compared to a
          herniated disc. A herniated disc generally protrudes farther and is
          much more likely to irritate spinal nerves. Painful inflammation of
          the nerve root can occur following a disc herniation, as the disc
          compresses the nerve which results in painful irritation.
        </p>

        <p>
          Inflammation and swelling are common from the extruded liquid from the
          nucleus pulposus
        </p>

        <p>
          An MRI is normally required to diagnose a herniated disc. Some people
          with low back pain will have imaging testing that indicates that they
          do not have a herniated disc. Therefore, it maybe a muscle injury or
          weak core causing the pain.
        </p>
      </div>
    </div>
  </section>
  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <div class="generic-content">
        <h2 class="headline headline--normal">Symptoms of a Herniated Disc</h2>
        <p>
          When compressed, the spinal nerves or cord do not work properly.
          Compressed nerves will pass abnormal signal into the limbs, or worst
          signals may not get sent at all. Common symptoms of a herniated disc
          include: Stabbing, Shooting, Burning Pain, Electric feeling in limb,
          Muscle Weakness and Tingling & Numbness
        </p>

        <p>
          Physiotherapy rehabilitation is vital in one's recovery from a
          herniated disc. Your spine was made to move in all directions in fact,
          your spine needs to be move continuedly to maintain it health. People
          run into problem due to lack of movement which can result in low back
          stiffness and pain. Doing gentle exercises and activities will improve
          the strength the muscles that support your spine and help reduce
          pressure forces on the spinal column.
        </p>

        <p>
          DC Physiotherapy are experts in assessing low back pain injuries and
          picking the right rehabilitation exercise and providing the perfect
          hands on treatment in clinic.
        </p>
      </div>
    </div>
  </section>
</main>
