---
layout: layout.ejs
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-chronic-pain.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <h1 class="headline headline--normal">Chronic Pain</h1>
          <p>
            Unfortunately, chronic pain is a dark reality for many people.
            Chronic pain results from a wide range of issues such as arthritis,
            surgery, trauma, inflammatory diseases, medical conditions, and
            stroke. Major improvements have been made in acute pain management
            but still, some people develop chronic pain states where they
            experience symptoms that don't seem likely to be cured. For such
            cases, the clinical management should be focused on controlling the
            pain effectively, maintaining physical activity (within limits), and
            encouraging routine daily function. This is done so to prevent
            deterioration and to avoid any complication arising from inactivity.
            This might sound counterintuitive because we naturally assume that
            moving or doing any activity will worsen the pain. More often than
            not, pain doesn't behave like this and therefore there is no logical
            reason to avoid activity.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-content">
          <p>
            While acute pain (due to a recent injury) requires complete
            cessation of any activity, these rules don't apply to any chronic
            pain. If the pain is present with or without activity and it has
            been established medically that the pain is not going to go away
            then the best course of action is to make the best of the worst
            situation. That being said, this is very easy to suggest by someone
            who isn't battling pain all the time but it is a completely
            different story for a chronic pain sufferer. Behavioral modification
            therapies are often required to break the mental link between
            movement and pain.
          </p>
        </div>
        <div class="generic-content">
          <p>
            Coming to terms with the reality of chronic pain is not easy at all.
            Clinicians involved in treating chronic pain must have sufficient
            experience in managing such situations by communicating effectively
            with the patient by providing them with credible guidance and
            advice. Clinicians also need to motivate their patients to improve
            functionality within the limits and by recognizing the
            boundaries/limitations.
          </p>
        </div>
        <div class="generic-content">
          <p>
            Chronic pain management often employs treatment options like joint
            manipulation, mobilizing, and stretching to help provide temporary
            comfort and though it is not a permanent solution, it can help bring
            the condition under control by reducing pain and providing more
            functionality. Each case must be analyzed and treated individually
            as each chronic pain case is unique. The goal here is to provide
            sufficient self-directed help with periodic physiotherapy
            intervention kept to a minimum but sufficient enough to keep overall
            symptoms stable. Usually, providing extensive treatments for chronic
            pain has no advantage especially if the intention is to completely
            cure the condition. These issues need to be recognized and discussed
            by every clinician involved in the care process.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
