---
layout: layout.ejs
active: 1
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="grid">
        <a class="grid__link" href="/sciatica/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-sciatica-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Sciatica</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Sciatica is pain associated with spinal ...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/lumbar-disc-herniation/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-lumbar-disc-herniation-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Lumbar Disc Herniation</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Generally, back pain caused mainly by an...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/low-back-pain/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-low-back-pain-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Low Back Pain</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                We specialise in treating low back pain....
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/bulging-discs/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-bulging-disc-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Bulging Discs</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                A bulging disc injury can be very painfu...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/chronic-pain/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-chronic-pain-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Chronic Pain</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Unfortunately, chronic pain is a dark re...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/degenerative-disc-disease/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-degenerative-disc-disease-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Degenerative Disc Disease</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Disc Degeneration, Disc bulge, Slipped D...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/occupational-injuries/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-occupational-injuries-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Occupational Injuries</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Many conditions fall under the category ...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/ankle-sprain/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-ankle-sprain-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Ankle Sprain</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                An ankle sprain is a very common injury ...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/tendonitis/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-tendonitis-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Tendonitis</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Inflammation of a tendon or mostly known...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/arthritis-osteoarthritis/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-arthritis-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Arthritis | Osteoarthritis</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Often pains and aches are defined during...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/sports-physiotherapy/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-sports-injuries-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Sports Physiotherapy</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                “Sports Injury” refers to a wide array o...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/whiplash/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-whiplash-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Whiplash</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Whiplash is a very controversial conditi...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/non-surgical-spinal-decompression/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-spinal-decompression-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Non-Surgical Spinal Decompression</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Non-Surgical Spinal Decompression Therap...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/deep-tissue-massage/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-deep-tissue-massage-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Deep Tissue Massage</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Deep tissue massage has many benefits in...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/dry-needling-trigger-point-therapy/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-dry-needling-trigger-point-therapy-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Dry Needling Trigger Point Therapy</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Therapy can be used for a variety of mus...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/neck-pain/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-physiotherapy-clondalkin-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Neck Pain</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                We specialise in treating low back pain....
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/spinal-mobilisations/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/05/dc-spinal-mobilisation-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Spinal Mobilisations</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                Generally, back pain caused mainly by an...
              </p>
            </div>
          </div> </a
        ><a class="grid__link" href="/spinal-manipulation/">
          <img
            class="grid__img"
            src="https://dcphysiotherapy.ie/wp-content/uploads/2021/03/dc-spinal-manipulation-thegem-portfolio-metro.jpg"
          />
          <div style="padding: 2rem; text-align: center">
            <div class="grid__title">Spinal Manipulation</div>
            <div class="grid__divider"></div>
            <div class="subtitle">
              <p class="grid__content">
                DC Physio Clondalkin/Lucan are experts i...
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</main>
