---
layout: layout.ejs
active: 6
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <h1 class="headline">
        PHYSIOTHERAPY CLONDALKIN, <br />
        DUBLIN 22 CLINIC
      </h1>
      <div class="rows">
        <div>
          <div class="page-section">
            Address:
            <a href="https://g.page/dcphysiotherapy?share">
              <address>
                Unit 4 <br />
                Newlands Business Park <br />
                Newlands Road <br />
                Dublin 22
              </address>
            </a>
            <div>
              Phone:
              <a href="tel: 00353861990706">+353 86 199 0706</a>
            </div>
            <div>
              Email:
              <a href="mailto: david@dcphysiotherapy.ie"
                >david@dcphysiotherapy.ie</a
              >
            </div>
          </div>
        </div>
        <div>
          <ul class="table table--large table--low-contrast">
            <li>
              <div>Monday - Friday</div>
              <div>8:00 am - 8:00 pm</div>
            </li>

            <li>
              <div>Saturday</div>
              <div>9:00 am - 6:00 pm</div>
            </li>

            <li>
              <div>Sunday</div>
              <div>Closed</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" class="travel">
    <div class="wrapper">
      <h2 class="headline">TRAVELING BY BUS</h2>

      <div class="rows">
        <div class="travel__bus">
          <h3 class="headline headline--normal">BUS 13, 51d & 69</h3>
          <img
            src="/assets/images/pt-map-1-768x368.webp"
            alt="From BUS 13, 51d & 69 to dcphysiotherapy clinic"
          />
        </div>

        <div class="travel__bus">
          <h3 class="headline headline--normal">Bus 68, 76 & 76a</h3>
          <img
            src="/assets/images/pt-map-2-768x369.webp"
            alt="From Bus 68, 76 & 76a to dcphysiotherapy clinic"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <h2 class="headline headline--center">branch phones</h2>
      <div>
        <strong>PHYSIOTHERAPY</strong>
        <hr />
        <a href="tel: 00353861990706">Phone: +353 86 199 0706</a>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="wrapper">
      <h2 class="headline headline--center">write us a message</h2>
      <form class="contact-form" action="/contact/">
        <div class="rows">
          <input name="name" placeholder="Name*" type="text" />
          <input name="email" placeholder="Email*" type="text" />
          <input name="phone" placeholder="Phone*" type="text" />
        </div>
        <textarea
          placeholder="Message"
          name=""
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <div>
          <button class="button">Submit Message</button>
        </div>
      </form>
    </div>
  </section>
</main>
