---
layout: layout.ejs
active: 1
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-deep-tissue-massage.jpg" alt="" />
          </picture>
        </div>
        <div>
          <h2 class="headline headline--normal">Deep Tissue Massage</h2>
          <div class="generic-content">
            <p>Deep tissue massage can be beneficial for the following:</p>
            <ul>
              <li>Sports Person</li>
              <li>If you experience tight muscles</li>
              <li>If you would like to prevent injuries before they occur</li>
              <li>
                If any for the above is true for you, Deep Tissue Massage in our
                Clondalkin Clinic is for you.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-content">
          <p>
            Your Chartered Physiotherapist at DC Physiotherapy may recommend
            using this intervention in your rehabilitation. Commonly referred to
            as trigger points, areas of high tone in a muscle can be a source of
            pain. In addition, these areas can refer pain to different regions
            of the body. The develop of trigger points can be as a result of an
            overuse injury, overloading a muscle, or when the body is in a tense
            and stressed state.
          </p>
          <p>
            Deep tissue massage and sports massage are typically used to treat
            sports injuries and as a prevention of them occurring.
          </p>
          <p>
            There are many techniques we can use during your deep tissue
            massage. Your Chartered Physiotherapist will know which ones to use
            to give you the best possible outcome.
          </p>
          <p>
            Deep tissue massage has many benefits including increased blood flow
            to the area, lymph drainage and reduced muscle tension. Deep tissue
            sports massages restore normal length to a muscle therefore, reduced
            muscle thingness.
          </p>
          <p>
            If you're experiencing low back pain, neck pain or spams deep tissue
            or sports massage can be extremely beneficial. An acute onset of low
            back pain or neck pain with no history of trauma can often be caused
            by the muscles in these areas going into spam.
          </p>
          <p>
            At DC Physiotherapy Clondalkin we are experts in deep tissue and
            sports massage for the prevention of low back and neck pain.
          </p>
        </div>
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-low-back-pain.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </section>
</main>
