<%- include('/header') %>

<h1>Giffleball</h1>
<a href="./about"><h2>hello world</h2></a>
<ul>
  <li><a href="img/???.jpg">???.jpg</a></li>
  <li><a href="img/….jpg">….jpg</a></li>
  <li><a href="img/parrot.gif">parrot.gif</a></li>
</ul>

<%- include('/footer') %>
