---
layout: layout.ejs
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-lumbar-disc-herniation.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <h2 class="headline">Lumbar disc herniation (LDH)</h2>
          <p>
            is a common low back disorder. It is one of the most common diseases
            that produces low back pain and/or leg pain in adults. A herniated
            disc is a displacement of disc material (nucleus pulposus or annulus
            fibrosis) beyond the intervertebral disc space. This herniation
            process begins from failure in the innermost annulus rings and
            progresses radially outward. The damage to the annulus of the disc
            appears to be associated with fully flexing the spine for a repeated
            or prolonged period of time. The nucleus loses its hydrostatic
            pressure and the annulus bulges outward during disc compression.
            Other names used to describe this type of pathology are: prolapsed
            disc, slipped disc or spinal disc herniation, herniated nucleus
            pulposus and discus protrusion.
          </p>
        </div>
      </div>
      <div class="generic-content">
        <p>
          It is a medical condition affecting the spine in which tear in outer
          fibrous ring of IV disc allows soft central portion to bulge out
          beyond the damaged outer ring. This condition occurs when soft center
          of spinal disc pushes disc through a crack in the tougher exterior
          casing. It occur rarely in children, and are most common in young and
          middle-aged adults. A herniation may develop suddenly, or gradually
          over weeks or months.
        </p>
        <ul>
          <li>
            The management of disc herniation requires an interprofessional
            team. The initial treatment should be conservative, unless a patient
            has severe neurological compromise.
          </li>
          <li>
            Surgery is usually the last resort as it does not always result in
            predictable results. Patients are often left with residual pain and
            neurological deficits, which are often worse after surgery.
          </li>
          <li>
            Physical therapy is the key for most patients. The outcomes depend
            on many factors but those who particpate in regular exercise and
            maintain a healthy body weight have better outcomes than people who
            are sedentary.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2>Types Of Herniations</h2>
      <details>
        <summary>Posterolateral Disc Hernation</summary>
        <p>
          Protrusion is usually posterolateral into vertebral canal. Protruded
          disc usually compresses next lower nerve as the nerve crosses the
          level of disc in its path to its foramen. (Example: protrusion of L5
          usually affects S1).
        </p>
      </details>
      <details>
        <summary>Cental (Posterior) Hernation</summary>
        <p>
          It is less frequent. A protruded disc above 2nd vertebra may compress
          the spinal cord itself or may lead to
          <strong>Cauda Equina Syndrome.</strong>
        </p>
      </details>
      <details>
        <summary>Lateral Disc Hernation</summary>
        <p>
          Nerve root compression happens above the level of herniation. L4 nerve
          root is most often involved.
        </p>
      </details>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2>Physical Therapy Management</h2>
      <p>
        Physical therapy often plays a major role in herniated disc recovery.
        Involving below key points:
      </p>
      <ul>
        <li>Ambulation and resumption of exercise</li>
        <li>Pain control</li>
        <li>Education re maintaining healthy weight</li>
      </ul>
      <p>
        Physical therapy programmes are often recommended for the treatment of
        pain and restoration of functional and neurological deficits associated
        with symptomatic disc herniation.
      </p>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img
              src="/assets/images/dc-lumbar-disc-herniation-excercise-1.jpg"
              alt=""
            />
          </picture>
        </div>
        <div class="generic-content">
          <p>
            It is preferred to passive modalities. There are a number of
            exercise programmes for the treatment of symptomatic disc herniation
            eg:
          </p>
          <ul>
            <li>aerobic activity (eg, walking, cycling)</li>
            <li>directional preference (McKenzie approach)</li>
            <li>flexibility exercises (eg, yoga and stretching)</li>
            <li>
              proprioception/coordination/balance (medicine ball and wobble/tilt
              board)
            </li>
            <li>strengthening exercises</li>
            <li>motor control exercises MCEs</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2>MCEs (stabilisation/core stability exercises)</h2>
      <div class="generic-content">
        <p>
          They are a common type of therapeutic exercise prescribed for patients
          with symptomatic disc herniation.
        </p>
        <ul>
          <li>
            Designed to re-educate the co-activation pattern of abdominals,
            paraspinals, gluteals, pelvic floor musculature and diaphragm.
          </li>
          <li>
            The biological rationale for MCEs is primarily based on the idea
            that the stability and control of the spine are altered in patients
            with LBP.
          </li>
          <li>
            Programme begins with recognition of the natural position of the
            spine (mid-range between lumbar flexion and extension range of
            motion), considered to be the position of balance and power for
            improving performance in various sports.
          </li>
          <li>
            Initial low-level sustained isometric contraction of
            trunk-stabilising musculature and their progressive integration into
            functional tasks is the requirement of MCEs.
          </li>
          <li>
            MCE is usually delivered in 1:1 supervised treatment sessions and
            sometimes includes palpation, ultrasound imaging and/or the use of
            pressure biofeedback units to provide feedback on the activation of
            trunk musculature.
          </li>
          <li>
            A core stability program decreases pain level, improves functional
            status, increases health-related quality of life and static
            endurance of trunk muscles in lumbar disc herniation patients.
            Individual high-quality trials found moderate evidence that
            stabilisation exercises are more effective than no treatment.
          </li>
        </ul>
        <p>
          Different studies have shown that a combination of different
          techniques will form the optimal treatment for a herniated disc.
          Exercise and ergonomic programs should be considered as very important
          components of this combined therapy.
        </p>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <ul>
        <li>
          Do exercise slowly. Hold exercise position for slow count of 5. Start
          with 5 repetition and work up to 10. Relax completely between the
          repetitions.
        </li>
        <li>Do exercise for 10 min twice a day.</li>
        <li>Care should be taken while doing exercise which can be painful.</li>
        <li>Exercise daily without fail.</li>
      </ul>
      <p>
        A herniated disk, which can occur in any part of the spine, can irritate
        a nearby nerve. Depending on where the herniated disk is, it can result
        in pain, numbness or weakness in an arm or leg.
      </p>
      <p>
        Many people have no symptoms from a herniated disk. Surgery is usually
        not necessary to relieve the problem.
      </p>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2>Symptoms</h2>
      <p>
        Most herniated disks occur in the lower back, although they can also
        occur in the neck. Signs and symptoms depend on where the disk is
        situated and whether the disk is pressing on a nerve. They usually
        affect one side of the body.
      </p>
      <details>
        <summary>Arm or Leg Pain</summary>
        <p>
          If your herniated disk is in your lower back, you’ll typically feel
          the most pain in your buttocks, thigh and calf. You might have pain in
          part of the foot, as well. If your herniated disk is in your neck,
          you’ll typically feel the most pain in your shoulder and arm. This
          pain might shoot into your arm or leg when you cough, sneeze or move
          into certain positions. Pain is often described as sharp or burning.
        </p>
      </details>
      <details>
        <summary>Numbing Or Tingling</summary>
        <p>
          People who have a herniated disk often have radiating numbness or
          tingling in the body part served by the affected nerves.
        </p>
      </details>
      <details>
        <summary>Weakness</summary>
        <p>
          You can have a herniated disk without symptoms. You might not know you
          have it unless it shows up on a spinal image.
        </p>
      </details>
    </div>
  </section>
  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <h2>When to see a doctor</h2>
      <p>
        Seek medical attention if your neck or back pain travels down your arm
        or leg, or if you also have numbness, tingling or weakness.
      </p>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2>Risk factors</h2>
      <details>
        <summary>Weight</summary>
        <p>
          Excess body weight causes extra stress on the disks in your lower
          back.
        </p>
      </details>
      <details>
        <summary>Occupation</summary>
        <p>
          People with physically demanding jobs have a greater risk of back
          problems. Repetitive lifting, pulling, pushing, bending sideways and
          twisting also can increase your risk of a herniated disk.
        </p>
      </details>
      <details>
        <summary>Genetics</summary>
        <p>
          Some people inherit a predisposition to developing a herniated disk.
        </p>
      </details>
      <details>
        <summary>Smoking</summary>
        <p>
          It's thought that smoking lessens the oxygen supply to the disk,
          causing it to break down more quickly.
        </p>
      </details>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2>Complications</h2>
      <p>
        Just above your waist, your spinal cord ends. What continues through the
        spinal canal is a group of long nerve roots that resemble a horse’s tail
        (cauda equina).
      </p>
      <p>
        Rarely, disk herniation can compress the entire spinal canal, including
        all the nerves of the cauda equina. Rarely, emergency surgery might be
        required to avoid permanent weakness or paralysis.
      </p>
      <p>Seek emergency medical attention if you have:</p>
      <ul>
        <li>
          <h3>Worsening symptoms.</h3>
          Pain, numbness or weakness can increase to the point that they hamper
          your daily activities.
        </li>
        <li>
          <h3>Bladder or bowel dysfunction.</h3>
          Cauda equina syndrome can cause incontinence or difficulty urinating
          even with a full bladder.
        </li>
        <li>
          <h3>Saddle anesthesia.</h3>
          This progressive loss of sensation affects the areas that would touch
          a saddle — the inner thighs, back of legs and the area around the
          rectum.
        </li>
      </ul>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2>Prevention</h2>
      <p>To help prevent a herniated disk, do the following:</p>
      <ul>
        <li>
          <h3>Exercise.</h3>
          Strengthening the trunk muscles stabilizes and supports the spine.
        </li>
        <li>
          <h3>Maintain good posture.</h3>
          This reduces pressure on your spine and disks. Keep your back straight
          and aligned, particularly when sitting for long periods. Lift heavy
          objects properly, making your legs — not your back — do most of the
          work.
        </li>
        <li>
          <h3>Maintain a healthy weight.</h3>
          Excess weight puts more pressure on the spine and disks, making them
          more susceptible to herniation.
        </li>
        <li>
          <h3>Quit smoking.</h3>
          Avoid the use of any tobacco products.
        </li>
      </ul>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2>
        What’s the difference between a bulging disk and a herniated disk?
      </h2>
      <i>Answer From Randy A. Shelerud, M.D.</i>
      <p>
        Disks act as cushions between the vertebrae in your spine. They’re
        composed of an outer layer of tough cartilage that surrounds softer
        cartilage in the center. It may help to think of them as miniature jelly
        doughnuts, exactly the right size to fit between your vertebrae.
      </p>
      <p>
        Disks show signs of wear and tear with age. Over time, disks dehydrate
        and their cartilage stiffens. These changes can cause the outer layer of
        the disk to bulge out fairly evenly all the way around its circumference
        — so it looks a little like a hamburger that’s too big for its bun.
      </p>
      <p>
        A bulging disk doesn’t always affect the entire perimeter of a disk, but
        at least a quarter if not half of the disk’s circumference is usually
        affected. Only the outer layer of tough cartilage is involved.
      </p>
      <p>
        A herniated disk, on the other hand, results when a crack in the tough
        outer layer of cartilage allows some of the softer inner cartilage to
        protrude out of the disk. Herniated disks are also called ruptured disks
        or slipped disks, although the whole disk does not rupture or slip. Only
        the small area of the crack is affected.
      </p>
      <p>
        Compared with a bulging disk, a herniated disk is more likely to cause
        pain because it generally protrudes farther and is more likely to
        irritate nerve roots. The irritation can be from compression of the
        nerve or, much more commonly, the herniation causes a painful
        inflammation of the nerve root.
      </p>
      <p>
        If an imaging test indicates that you have a herniated disk, that disk
        might not be the cause of your back pain. Many people have MRI evidence
        of herniated disks and have no back pain at all.
      </p>
    </div>
  </section>
</main>
