---
layout: layout.ejs
active: 1
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-physiotherapy-clondalkin.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <p>
            Neck pain can be very debilitating as you go about your day.
            Understanding what is the cause of neck pain is vital and having a
            roadmap of things you can do to help reduce your symptoms is
            extremely important. Neck pain can affect many aspects of your life,
            however most people will see an improvement in 1-2 weeks and most
            individuals will be free of neck pain after 2 to 3 months.
          </p>
          <p>
            Our Chartered Physiotherapists will provide you with information and
            instruction on rehabilitation exercises to resolve your neck pain an
            offer best in class evidenced based manual therapy.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section page-section--light-gray">
    <div class="wrapper">
      <div class="generic-content">
        <h3 class="headline headline--normal headline--light">
          Neck Pain Symptoms
        </h3>
        <p>
          Neck stiffness is often associated with Neck Pain, pins and needles in
          the arm can be coming from the neck, shoulder pain and reduced
          shoulder movement can be a consequence of neck pain.
        </p>
        <p>
          Neck pain can be a result of increased pressure on a spinal disc.
          Muscle strain or muscle spasm are common causes of neck pain.
        </p>
        <p>
          Poor postural habits at work can be a cause of your neck pain,
          whiplash following a road traffic accident will cause neck pain.
        </p>

        <h3 class="headline headline--normal headline--light">
          Neck Pain Symptoms
        </h3>
        <p>
          All Physiotherapist at DC Physiotherapy have special have training in
          the assessment and diagnosis of musculoskeletal injuries. We use best
          in class most advanced evidence based techniques and their results are
          sometimes immediate.
        </p>
        <p>
          Our aim when treating neck pain is not only to provide rapid pain
          relief, but to provide you with the tools to prevent the reoccurrence
          of your neck pain via a compressive rehabilitation programme you can
          complete at home.
        </p>
        <p>
          Physiotherapy can provide many different treatment options depending
          of the actual cause of the issue, this treatments may include massage,
          soft tissue release, trigger point dry needling, exercise prescription
          and joint mobilisation or manipulation.
        </p>
        <p>
          By improving the overall strength, flexibility and range of movement
          in the neck the likelihood of the pain returning is vastly reduced.
        </p>
      </div>
    </div>
  </section>
</main>
