---
layout: layout.ejs
active: 2
---

<main>
  <section class="page-section page-section--first">
    <div class="wrapper">
      <h1>Non Surgical Spinal Decompression</h1>
    </div>
  </section>
  <section class="page-section" id="video">
    <div class="wrapper">
      <iframe
        class="embedded-video"
        src="https://www.youtube.com/embed/ZSfFHbE0h58"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-spinal-decompression.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <h2 class="headline">Non-Surgical Spinal Decompression Therapy</h2>

          <p>
            Non-Surgical Spinal Decompression Therapy is a revolutionary
            treatment for Low Back and Neck Pain. DC Physiotherapy Clondalkin
            offer the latest cutting-edge technology in this field, we are
            experts in treating serious lower back pain, neck pain and sciatica.
          </p>
          <p>
            Our commitment is to offer best in class treatments to aid your
            recovery. Non-Surgical Spinal Decompression Therapy is FDA cleared
            Spinal Decompression technology for the treatment of back pain due
            to:
          </p>
          <ul class="checklist checklist--arrow checklist--condensed">
            <li>Herniated Discs</li>
            <li>Bulging Discs</li>
            <li>Pinched Nerve</li>
            <li>Sciatica (leg pain)</li>
            <li>Degenerative Disc Disease (DDD)</li>
            <li>Spinal Stenosis</li>
            <li>Post-Surgical Pain</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-content">
          <p>
            Typically, someone suffering from disc issue was usually given pain
            meds, instructed to stop all physical activities, referred for
            physiotherapy, and when they weren’t progressing they were sent for
            spinal surgery. Conservative Physiotherapy proved very helpful in
            many cases, yet there have been some cases when surgery seemed to be
            the only other option… until now.
          </p>
          <p>
            Thankfully, you don’t have to live with pain from disc issues
            anymore. Thanks to the research of a team of top physicians and
            medical engineers, Non-Surgical Spinal Decompression Therapy was
            developed to effectively treat lower back pain, neck pain and
            sciatica resulting from herniated or degenerated discs. Non-Surgical
            Spinal Decompression Therapy not only significantly reduces back
            pain in many people, but also enables the majority of clients to
            return to more activities they enjoy.
          </p>
        </div>
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-degenerative-disc-disease.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2 class="headline headline--dark-blue">
        <span class="headline--blue">Spinal</span> Decompression
      </h2>
      <div class="faq">
        <details>
          <summary>
            <h3>does spinal decompression therapy really work?</h3>
          </summary>
          <p>
            Data from a recent multi-center pilot study utilizing Axiom
            Worldwide’s DRX9000 Reveals a Dramatic Success Rate of 88.9%!
          </p>
          <p>
            The clinical results of an IRB-approved prospective, multi-center,
            phase II, non-randomized pilot study utilizing the DRX9000 was
            presented at the annual New York State Society of Anesthesiologists
            PGA meeting in New York City December 7-11, 2007. The study,
            authored by Dr. John Leslie of The Mayo Clinic, was designed to
            evaluate the effectiveness and safety of the DRX9000 in the
            treatment of chronic lower back pain. Patients enrolled in the study
            had suffered an overall average of ten years of chronic back pain.
            After two weeks of treatments on the DRX9000 there was a 50%
            reduction in pain scores and upon completion of the entire six week
            protocol an amazing success rate of 88.9% was documented.
          </p>
        </details>
        <details>
          <summary><h3>how does spinal decompression work?</h3></summary>
          <p>
            Non-Surgical Spinal Decompression uses new cutting edge, state of
            the art technology to apply a distraction force to relieve disc and
            nerve compression often associated with low back pain, neck pain and
            sciatica.
          </p>
          <p>
            Spinal Decompression, not to be confused with simple traction,
            gradually lengthens and decompresses the spinal discs, creating
            negative pressures within the centre of the discs. This reversal of
            pressure creates an intradiscal vacuum that helps to reposition
            bulging discs and pull extruded disc material back into the disc,
            taking pressure off pinched nerves resulting in pain relief. Spinal
            experts believe that nutrients, oxygen, and fluids are also pulled
            into the disc to create a revitalized environment conducive to
            healing.
          </p>
        </details>
        <details>
          <summary><h3>what are the treatments like</h3></summary>
          <p>
            At the start of each treatment, you will be fitted with a harness
            designed to achieve optimal decompression of the low back or neck.
            During a treatment of non-surgical spinal decompression you will
            notice a gentle lengthening of your spine as your discs are
            gradually decompressed and relieved of pressure. The treatment
            process is safe and effective. While some patients with extensively
            injured discs have reported mild discomfort during the first few
            treatment sessions, their discomfort subsides upon subsequent
            visits. A patient safety switch provides an extra safety feature,
            allowing you to stop at any point should you feel discomfort. Each
            treatment session lasts approximately 30 minutes. Individual patient
            results may vary.
          </p>
        </details>
        <details>
          <summary>
            <h3>
              why is spinal decompression different from traction, physical
              therapy and chiropractic manipulation
            </h3>
          </summary>
          <p>
            While traction, physical therapy, and manipulation may reduce disc
            pressures to as low as 40 mm Hg, only spinal decompression has been
            shown to achieve negative pressures within the spine. It has been
            clinically proven that spinal decompression creates negative
            pressures as low as -110 mm Hg3 within the injured disc during the
            treatment session. Normally, pulls exerted on the spine trigger
            sensory receptors in the back to tighten the muscles surrounding the
            vertebrae and discs in an effort to protect them from injury. Spinal
            Decompression bypasses this response by slowly pulling on the spine
            and relaxing the back over an extended period of time, allowing the
            discs to be repositioned without tension and without causing spasm
            and muscle guarding.
          </p>
        </details>
      </div>
    </div>
  </section>
  <%- include("/reviews-carousel") %> <%- include("/business-details") %>
</main>
