---
layout: layout.ejs
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-occupational-injuries.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <h2 class="headline headline--normal">Occupational Injuries</h2>
          <p>
            Many conditions fall under the category ‘occupational injuries’
            ranging from falling to recurring strain injuries resulting from
            repetitive overuse. When an occupational injury occurs as a result
            of a trauma, it is managed and treated just like any other injury.
          </p>
          <p>
            There might also be some associated safety and health issues that
            generally lie outside the influence of a physiotherapist but our
            advice is often sought.
          </p>

          <p>
            Employers are generally very aware of their duties and obligations
            regarding safety and health, handling and lifting, and other general
            ergonomic needs. However, there are sometimes cases where further
            modifications/analysis are required.
          </p>

          <p>
            Most of the injuries arise from everyday repetitive activities such
            as reaching, bending, carrying, or light lifting that usually
            triggers some spinal pain.
          </p>

          <p>
            Frequently, there is an indication of some underlying problem that
            has simply surfaced with a specific activity but the cause has
            usually developed over a long period.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <div class="generic-content">
        <p>
          The most common causes include poor joint flexibility, poor postural
          alignment, poor technique, and reduced muscle tone.
        </p>
        <p>
          For such cases, physiotherapy usually involves not just treating the
          acute problems but also identifying the underlying causes and
          prescribing an action plan to prevent any recurrences.
        </p>
        <p>
          People who are not very attentive about their musculoskeletal health
          will usually require some lifestyle and habit changes.
        </p>
        <p>
          Repetitive Strain Injuries or RSI is another category of occupational
          injuries and presents quite frequently. We have already discussed it
          in detail in other parts and it usually presents in the upper limbs
          involving the neck and/or shoulder region.
        </p>
        <p>
          A wide range of structures can be affected by RSI and every case’s
          unique details determine the appropriate course of action.
        </p>
        <p>
          The clinician involved in treatment must have sufficient experience in
          dealing with these types of injuries because they are quite complex
          and require special skills to be diagnosed and treated properly.
          Unfortunately, it is very common to case cases that are not treated
          successfully due to a lack of understanding on the clinician’s part.
        </p>
      </div>
    </div>
  </section>
</main>
