---
layout: layout.ejs

cards:
  - type: physio
    number_of_treatments: 0
    assessment_type: initial assessment
    price: 60
    service_type: consultation
    duration: 30 minutes duration
    treatment_type: follow up treatment advice
    therapy_type: physiotherapy

  - type: physio
    number_of_treatments: 0
    assessment_type: follow up treatment advice
    price: 60
    service_type: treatment
    duration: 30 minutes duration
    treatment_type: follow up treatment
    therapy_type: physiotherapy

  - type: nssd
    number_of_treatments: 1
    assessment_type: assess,ent and treatment
    price: 150
    treatment_type: Non-Surgical Spinal Decompress Treatment
    duration: 55 mins duration
    also_includes:
      treatment 2 to 6 will also include soft tissue mobilisation and exercise
      rehabilitation

  - type: nssd
    number_of_treatments: 6
    treatment_type: Non-Surgical Spinal Decompress Treatments
    price: 660
    assessment_type: full physical assessment at first appointment with treatment
    duration: each appointment 55 mins in duration
    also_includes:
      treatment 2 to 6 will also include soft tissue mobilisation and exercise
      rehabilitation

  - number_of_treatments: 10
    type: nssd
    treatment_type: Non-Surgical Spinal Decompress Treatments
    price: 1000
    assessment_type: full physical assessment at first appointment with treatment
    duration: each appointment 55 mins in duration
    also_includes:
      treatment 2 to 10 will also include soft tissue mobilisation and
      exercise rehabilitation
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <h1>Pricing</h1>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2>Physiotherapy Pricing</h2>
      <div class="rows">
        <% for(const i in cards) { if(cards[i].type === "physio"){ %>
        <div class="price-card">
          <div class="price-card__price">60€</div>
          <div class="price-card__service-type">
            <%= cards[i].assessment_type %>
          </div>

          <ul class="price-card__service-includes">
            <li>consultation</li>
            <li>30 minutes duration</li>
            <li>follow up treatment advice</li>
          </ul>
          <div class="price-card__button-container">
            <a href="" class="button">book now</a>
          </div>
        </div>
        <% }} %>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2>Non-Surgical Spinal Decompression Pricing</h2>
      <div class="rows">
        <% for(const i in cards) { if(cards[i].type === "nssd"){ %>
        <div class="price-card">
          <div class="price-card__price">60€</div>
          <div class="price-card__service-type">
            <%= cards[i].assessment_type %>
          </div>

          <ul class="price-card__service-includes">
            <li>consultation</li>
            <li>30 minutes duration</li>
            <li>follow up treatment advice</li>
          </ul>
          <div class="price-card__button-container">
            <a href="" class="button">book now</a>
          </div>
        </div>
        <% }} %>
      </div>
    </div>
  </section>
</main>
<%- include('/reviews-carousel')%> <%- include('/business-details')%>
