---
layout: layout.ejs
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-sciatica.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <h2 class="headline headline--normal">What is Sciatica?</h2>
          <p>
            What is Sciatica? Sciatica is pain associated with spinal nerves.
            Sciatica originates from the sciatic nerves which start around your
            sacrum then pass through the buttocks and into the hip and traveling
            down the back of the leg.
          </p>
          <p>
            The main nerve supplying the posterior leg is the Sciatic Nerve. The
            muscles of the posterior leg are controlled by this nerve, it also
            provides sensation to the back of the upper leg, the lower leg, and
            the underside of the foot.
          </p>
          <p>
            Sciatica is a condition where the client will report feeling
            tingling, numbness, pain referring into the buttock, hamstring, calf
            or foot however, the issue is steaming from the spine. Compression
            of this nerve can be cause be muscle spam or more commonly herniated
            disc in the lumber spine.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section page-section--light-gray">
    <div class="wrapper">
      <h2 class="headline">
        <span class="headline--light-blue">What causes</span> Sciatica?
      </h2>

      <div class="generic-content">
        <strong>Common causes:</strong>
        <ul>
          <li>
            Piriformis syndrome - The piriformis muscle, located in the
            buttocks, becomes tight and or spammed and compresses the Sciatic
            nerve.
          </li>
          <li>
            Bulged Disc, Herniated Disc, Slipped Disc. A herniated or bulging
            disc can push out (like squeezing the jelly out of a jelly doughnut)
            and compress the nerve root of the sciatic nerve causing sciatic
            nerve pain.
          </li>
          <li>Degenerative Disc Disease</li>
          <li>Spinal Stenosis, narrowing of the canal</li>
        </ul>
        <p>
          A herniated disc is basically a disorder in which a part of the body
          protrudes abnormally through a tear or opening in an adjacent part. It
          can happen in several areas of the body, most common is the spinal
          disc never. A herniated spinal disc is a displaced fragment of the
          centre part or nucleus of the spinal disc that is pushed through a
          tear in the outer layer or annulus of the disc. This usually results
          in a lot of pain and often refers into the leg also known as Sciatica.
        </p>
        <p>
          Patients will often report shooting pain aggravated by prolonged
          sitting or standing, weakness or numbness, pain along posterior leg
          and burning or tingling in the leg or foot.
          <a href="https://www.rejuvadisc.ie/">https://www.rejuvadisc.ie/</a>
        </p>
      </div>
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/sciatica-2.jpg" alt="" />
          </picture>

          <picture>
            <img src="/assets/images/sciatica-3-1.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <h2 class="headline headline--normal">
        What are My Options for the Treatment of Sciatica?
      </h2>
      <p>
        At DC Physiotherapy Clondalkin and Lucan we are highly experienced in
        treating people with Sciatica. The vest majority of Sciatica cases are
        treated conservatively, exercise rehabilitation from a Chartered
        Physiotherapist has been proven to play a key role in the treatment of
        this troublesome condition.
      </p>
      <p>
        We will aim to prevent further episodes of Sciatic through education and
        address any muscle imbalances in the core muscles.
      </p>
      <p>
        At DC Physiotherapy we are experts in treating Sciatica, this is a
        common condition however, need specific treatment interventions to get
        the best possible outcome.
      </p>
      <p>
        Non-surgical spinal decompression: this is a form of conservative
        treatment for Sciatica. This system is able to treat mild to moderate
        herniated spinal discs which involves the usage of our non-surgical
        spinal decompression systems followed by a core-strengthening
        rehabilitation combined with Physiotherapy. Advanced cases of herniated
        spinal discs is treated effectively with Non-Surgical Spinal
        Decompression, in conjunction with core stabilization and Physiotherapy.
        <a href="https://www.rejuvadisc.ie/">https://www.rejuvadisc.ie/</a>
      </p>
     
  </section>
  <section class="page-section">
      <div class="wrapper">
        <h2 class="headline headline--normal">
            How does Non-Surgical Spinal Decompression Help?
          </h2>
          <p>
            Spinal Decompression slowly stretches the vertebral discs in the spine
            which decompresses the spine, this creates negative pressure in the
            centre of the disc. A vacuum is created by this reversal of pressure
            which helps to reposition extruded disc material back into the centre of
            the disc, resulting in pressure been removed off pinched nerves.
          </p>
        </div>
      </div>
  </section>
</main>
