---
layout: layout.ejs
active: 1
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-spinal-mobilisation.jpg" alt="" />
          </picture>
        </div>
        <div>
          <h2 class="headline headline--normal">Spinal Mobilisations</h2>
          <div class="generic-content">
            <i>Introduction</i>
            <p>
              Generally, back pain caused mainly by any region within the lumbar
              spine getting nervous system intervention. Thus, back pain arises
              from muscles, lumbar spine’s disc, fascia, or any ligaments. Keep
              reading to find out more about low back pain.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section page-section--light-gray">
    <div class="wrapper">
      <div class="generic-content">
        <h3 class="headline headline--normal headline--light">Mobilisations</h3>
        <p>
          Passive movements define mobilisation and are also known as accessory
          or physiological . It aims at providing short term or long term pain
          relief. Besides, it helps to restore the functional movements of
          joint.
        </p>
        <p>
          Joint mobilisation restores the joint’s function and helps to manage
          musculoskeletal dysfunction. Besides, it improves the restricted
          movements of the spine. Muscles, connective tissues and the joints are
          mainly prone to such restrictions, causing pain. Mobilisation removes
          this restriction giving relief from pain. Even a deeper and forceful
          mobilisation can help in decreasing the stiffness in joints. This
          technique is also known as manual therapy, and physiotherapists
          perform it.
        </p>
        <h3 class="headline headline--normal headline--light">
          Effects and Mechanism
        </h3>
        <p>
          Research indicated that manual therapy results in significant
          neurophysiological and mechanical effects. The exact mechanism of
          mobilisation and needs further research.
        </p>
        <p>
          However, the effects produced by the manual therapy, such as effect on
          the autonomic nervous system, motion range increase, and pain relief,
          suggests different theories.
        </p>
      </div>
    </div>
  </section>
</main>
