---
layout: layout.ejs
active: 1
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-spinal-manipulation.jpg" alt="" />
          </picture>
        </div>
        <div>
          <h2 class="headline headline--normal">Spinal Manipulation</h2>
          <div class="generic-content">
            <i>Things you must know</i>
            <p>
              DC Physio Clondalkin/Lucan are experts in spinal manipulation and
              spinal adjustments, this is an intervention performed on the
              spinal articulations which has advantageous therapeutic effect
              such as pain relief and restoration of normal movement.
            </p>
            <p>
              Spinal manipulation and adjustments are extremely beneficial in
              reducing pain and improving mobility.
            </p>
            <p>
              Patients often experience rapid reduction in their pain or
              dysfunction.
            </p>
            <p>
              At DC Physiotherapy Clondalkin/Lucan we are certified to do
              Cervical Manipulations, Thoracic Spine Manipulations, Lumbar
              Manipulations, SIJ Manipulations, Acromio Clavicular
              Manipulations, Glenohumeral Manipulations, Radial Head
              Manipulations, Wrist Manipulations, Fibula Manipulations,
              Tibio-Talar Manipulations, Navicular Manipulations and
              Talo-Navicular Manipulations.
            </p>
            <p>
              Spinal Manipulations has been shown to reduce pain and improve
              functional outcomes. Manipulations of the spine and other areas
              are well researched and its efficacy published in many
              peer-reviewed journal articles.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section page-section--light-gray">
    <div class="wrapper">
      <h2 class="headline">
        <span class="headline--blue">Spinal</span> Manipulation
      </h2>
      <div class="generic-content">
        <details open class="details">
          <summary>What is Spinal Manipulation</summary>
          <p>
            Spinal manipulation is a technique that uses hands or a device for
            applying controlled thrust to your spinal joints. Thrust can move
            your joint more efficiently with varied force. On the other hand,
            spinal mobilization doesn’t involve the thrust. In fact, force
            application is applied within the natural motion range of the joint.
          </p>
          <p>
            Spinal Physiotherapists are responsible for spinal manipulation.
            However, other licensed professionals such as sports therapists and
            physician can also do spinal manipulations.
          </p>
          <p>
            According to National Health Interview Survey in 2012, spinal
            manipulation is the most prevalent treatment among children and
            adults in the USA.
          </p>
        </details>
        <details class="details">
          <summary>Spinal Manipulation: Why Do People Use It?</summary>
          <p>
            Among US adults, about 67% of people use osteopathic manipulation
            for treating any specific health condition. On the other hand,
            According to NHIS, 54% of adults use it for wellness purposes.
          </p>
          <p>Some of the common purposes for this chiropractic approach are:</p>
          <ul>
            <li>
              5% of adults used it to have better concentration and memory
            </li>
            <li>11% of adults used it to improve their immune systems</li>
            <li>16% of adults used it for better energy</li>
            <li>
              25% of adults use it for overall body health such as wellness of
              spirit, body and mind
            </li>
            <li>
              43% of adults used spinal manipulation for disease prevention or
              general wellness
            </li>
          </ul>
          <p>
            NHIS research reports positive user experience among people
            undergoing spinal manipulation. It reduces spinal pain.
          </p>
        </details>
        <details class="details">
          <summary>Who Uses Spinal Manipulation</summary>
          <p>
            The number of US adults using chiropractor treatments has increased
            between 2012 to 2017. NHIS data showed a 1.2% increase in
            Physiotherapy treatment trend in these years. However, no difference
            was seen in the children ratio among these years. In 2012, 3.5% of
            children were visiting the Physiotherapist and 3.4% in 2017.
          </p>
          <p>According to the national survey by CDC:</p>
          <ul>
            <li>
              Adults with 45-64 years of age visit the chiropractor more often
              than adults with 28-44 years of age.
            </li>
            <li>Women visit the Physiotherapist more than men.</li>
            <li>
              Older children (12-17 years old) are more likely to see
              Physiotherapist than young ones with 4-11 years of age.
            </li>
            <li>
              The chances for the boys and girls to visit the Physiotherapist
              are the same.
            </li>
          </ul>
        </details>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="wrapper">
      <h2 class="headline">
        <span class="headline--blue">Why should you go for spinal</span>
        manipulation?
      </h2>
      <div class="generic-content">
        <h3 class="headline headline--normal headline--light">
          For Chronic Pain in Lower-Back
        </h3>
        <p>
          Spinal manipulation is the best treatment in treating low-back pain
          despite the availability of several other medicines. In clinical
          guidelines 2017, the American College of Physician recommended spinal
          manipulation to help people get relief from acute or chronic pain in
          the lower back. For instance:
        </p>
        <ul>
          <li>
            Research in 2010 indicated that spinal manipulation helps get
            immediate and short-term relief from acute pain in the lower back
            and neck compared to placebo. However, this studied combined the
            results of physical therapy, medication and massage.
          </li>
          <li>
            A review of 26 studies arranged in 2011 indicated that spinal
            manipulation and other approaches, such as physical therapy, can
            relieve chronic low-back pain. However, it has a minimum effect on
            the pain.
          </li>
          <li>
            According to an NCCIH study, the best dose for people with chronic
            back pain is twelve sessions of spinal manipulation.
          </li>
          <li>
            A 2014 study featuring 110 people concluded that people become less
            sensitive to stimuli immediately after getting the spinal
            manipulation than after sham manipulation. However, both groups had
            similar pain intensity after a couple of weeks.
          </li>
          <li>
            According to a systematic review of AHRQ, spinal manipulation is
            better than sham manipulation or placebo for short term and
            medium-term effects. However, evidence strength was low. Besides,
            there was no much difference in spinal manipulation and sham
            manipulation, attention control, and placebo when it comes to
            short-term pain. However, spinal manipulation was more effective on
            short term pain than long term pain. The standard of evidence was
            considered low for short-term effects and moderate for
            intermediate-term outcomes.
          </li>
        </ul>

        <h3 class="headline headline--normal headline--light">
          For acute pain in the lower back:
        </h3>
        <p>
          Spinal manipulation has some limitations for acute pain in the lower
          back.
        </p>
        <ul>
          <li>
            According to a research review of 20 studies in 2012, spinal
            manipulation is not adequate for acute pain in the lower back. This
            is true, especially when spinal manipulation was compared to sham
            manipulation or mixed with other approaches. However, spinal
            manipulation is the safest option than different treatment
            approaches.
          </li>
          <li>
            A study conducted in 2015 with 220 people indicated no difference in
            the effects of spinal manipulation and standard care in treating
            acute low-back pain.
          </li>
          <li>
            On the other hand, a study funded by NCCIH in 2015 concluded that
            spinal manipulation is suitable for short term relief from acute and
            sub-acute pain in the lower back than standard care. Moreover, the
            study concluded that manual thrust manipulation results in greater
            short term relief from pain than mechanical-assisted manipulation.
          </li>
          <li>
            In 2017, a study analyzed 1700 different participants under 15
            controlled trials. According to this study, spinal manipulation
            helps to improve the functions and acute pain in the lower back.
          </li>
          <li>
            Another study conducted in 2018 with 750 active-duty US Veterans
            with pain in the lower back. This study found that chiropractic care
            with standard care can help relieve pain better than those
            undergoing only general medical maintenance.
          </li>
        </ul>

        <h3 class="headline headline--normal headline--light">
          For Neck Pain:
        </h3>
        <ul>
          <li>
            NCCIH funded a study in 2012 with 272 acute neck pain patients.
            According to this study, home exercises or spinal manipulation are
            more effective in the long term and short term.
          </li>
          <li>
            Another review from 51 patients indicated that spinal manipulation
            is significantly less effective in getting short-term relief from
            chronic or acuter pain in the neck.
          </li>
        </ul>

        <h3 class="headline headline--normal headline--light">For Sciatica:</h3>
        <p>
          Sciatica is pain that radiates from the sciatic nerve, controlling the
          lower leg and knee and black muscles. Besides, it also characterizes
          the pain in the thigh, foot sole and lower leg.
        </p>
        <ul>
          <li>
            A 2015 research review indicated that spinal manipulation is not
            common for sciatica treatment. However, the studies used in the
            review have some limitations.
          </li>
          <li>
            Another study was conducted with 192 people having leg pain and back
            pain in 2014. This study indicated that spinal manipulation with
            exercise and personal instruction is more effective than exercise
            and personal instructions alone. However, similar pain intensity was
            observed in both groups after a year.
          </li>
        </ul>

        <h3 class="headline headline--normal headline--light">
          For other complaints:
        </h3>
        <ul>
          <li>
            Researchers have also studied the effects of spinal manipulation for
            treating bedwetting, infant colic, COPD, ear infection in children,
            and fibromyalgia. However, there is no proper evidence to treat
            these issues with spinal manipulation.
          </li>
          <li>
            Studies indicated that spinal manipulation couldn't relieve
            menstrual pain, hypertension and asthma.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="page-section page-section--light-gray">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-content">
          <p>
            Experience and credibility of practitioner matter a lot in applying
            spinal manipulation. If you’re taking the services of an experienced
            and licensed chiropractor, spinal manipulation is safe.
          </p>
        </div>
        <div class="generic-content">
          <p>
            However, there can be some side effects of spinal manipulation.
            These side effects include a temporary boost in pain, stiffness, or
            muscle soreness.
          </p>
        </div>
        <div class="generic-content">
          <p>
            Some infrequent but serious complications may also occur due to
            spinal manipulation—for instance, delays in diagnosis of severe
            medical conditions or death.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
