---
layout: layout
active: 1
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-sports-injuries.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <p>
            We have heard this term quite often. “Sports Injury” refers to a
            wide array of conditions including ranging from joint dislocations,
            bone fractures, tendon tears, or ligament strains to simpler forms
            of injury such as muscle strains and bruising. A sports
            physiotherapist would be best placed to treat sports injuries.
          </p>

          <p>
            The treatment options entirely depend on the severity of injuries
            and healing timings also differ from case to case. For instance,
            typically, a muscle will heal quicker than a fractured bone,
            similarly, ligaments tears heal quicker than cartilages.
          </p>

          <p>
            In broader terms, sports injuries are classified as either intrinsic
            or extrinsic injuries. A twist or a contact/impact with another
            player as well falling causes extrinsic injuries. To some extent,
            these injuries are unavoidable regardless of a player’s fitness,
            training, and conditioning levels.
          </p>

          <p>
            In such a case, treatment options are targeted towards quick repair
            and ensuring that there are no residual or long-term effects as a
            result of injury. Extrinsic injuries are generally easier to
            diagnose and the treatment is pretty straightforward.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-content">
          <p>
            On the other end of the spectrum, we have intrinsic injuries. These
            injuries result from straining or pulling an area either during
            active playing or post-game due to resulting soreness. Typically, in
            intrinsic injuries, there is no incident to report that specifically
            caused the injury.
          </p>

          <p>
            Groins, hamstrings, shoulder, lower back, and tendonitis are usually
            the areas involved in intrinsic injuries. These injuries are
            relatively complex to manage, not because of the severity of the
            injury but because a comprehensive analysis of the underlying cause
            of injury must be determined first.
          </p>

          <p>
            If the underlying cause of the injury is not properly diagnosed,
            patients can develop chronic conditions that can impair their sports
            ability as well as the general quality of life. Due to their less
            severe appearance, intrinsic injuries are overlooked initially until
            the injury progresses and complications start to arise one after
            another.
          </p>

          <p>
            For such a case, the Sports Physiotherapist has to play a twofold
            role: Initially, the acute pain should be treated by employing a
            combination of anti-inflammatory modalities, manual therapy,
            providing protection to affected areas, maintaining range of motion,
            and muscle strength.
          </p>
        </div>

        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-deep-tissue-massage.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </section>
</main>
