---
layout: layout.ejs
active: 4
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <h1>Team</h1>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="profile">
          <h2 class="headline headline--orange">
            David Carpenter MISCP <br /><span
              class="headline headline--small headline--dark-blue"
              >Chartered Physiotherapist</span
            >
          </h2>
          <p>
            David is an expert in Manual Therapy, Exercise Rehabilitation, Dry
            Needling and Non-Surgical Spinal Decompression Therapy in the
            treatment of Low Back and Neck Pain.
          </p>
          <div class="faq">
            <div class="details">
              <div class="details__summary">
                <h3 class="headline headline--normal">specialty</h3>
              </div>
              <div class="details__body details__body--is-open">
                <ul>
                  <li>
                    David is and expert in Manual Therapy, Exercise
                    Rehabilitation, Dry Needling and Non-Surgical Spinal
                    Decompression Therapy in the treatment of Low Back and Neck
                    Pain.
                  </li>
                  <li>
                    David has a keen interest in human movement with particular
                    focus on Spinal Disc Issues.
                  </li>
                  <li>
                    David's mission is to prevent his clients requiring Spinal
                    Surgery via a Comprehensive Assessment, Diagnose and STATE
                    OF THE ART TREATMENT been, Non-Surgical Spinal Decompression
                    FOR LOW BACK AND NECK PAIN.
                  </li>
                  <li>
                    David is very proud to be one of the very few Clinics in
                    Dublin to offer Non-Surgical Spinal Decompression Therapy
                    combined with Chartered Physiotherapy.
                  </li>
                </ul>
              </div>
            </div>
            <div class="details">
              <div class="details__summary">
                <h3 class="headline headline--normal">education</h3>
              </div>
              <div class="details__body">
                <ul>
                  <li>
                    David graduated from Leeds Metropolitan University is 2010
                    with an Honours Degree in Physiotherapy.
                  </li>
                  <li>
                    David also possess a Honours Degree in Rehabilitation
                    Studies which he gain at University of Wolverhampton.
                  </li>
                </ul>
              </div>
            </div>
            <div class="details">
              <div class="details__summary">
                <h3 class="headline headline--normal">experience</h3>
              </div>
              <div class="details__body">
                <ul>
                  <li>
                    David worked at Leeds United Football Club after graduating,
                    his role involved working with the first team players.
                  </li>
                  <li>
                    DC Physiotherapy was set up in 2014 following David's return
                    to Ireland.
                  </li>
                  <li>
                    David is a proud member of the Irish Society of Chartered
                    Physiotherapists and CORU.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="generic-image">
          <picture>
            <img src="/assets/images/david-scaled.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <div class="profile">
        <h2 class="headline headline--orange">
          Robert Cuffe<br /><span
            class="headline headline--small headline--dark-blue"
            >Chartered Physiotherapist</span
          >
        </h2>
        <p>
          Robert Cuffe is a chartered physiotherapist with a keen interest in
          sport, strength and conditioning, manual therapy, non-surgical spinal
          decompression therapy and helping his patients reach their full
          potential.
        </p>
        <div class="faq">
          <div class="details">
            <div class="details__summary">
              <h3 class="headline headline--normal">Specialty</h3>
            </div>
            <div class="details__body details__body--is-open">
              <ul>
                <li>
                  Robert's experience has seen him gain knowledge in assessing,
                  diagnosing and treating a wide range of both chronic and acute
                  injuries as well as treating low back and neck pain through
                  non-surgical spinal decompression therapy.
                </li>
                <li>
                  Robert continues to compete as an athlete with Kickboxing
                  Ireland and is a multiple time national champion also winning
                  a WAKO world silver medal in 2017. His other interests include
                  soccer, golf and rugby.
                </li>
                <li>
                  Using his experience as both an athlete and a physiotherapist,
                  Robert aims to work with his patients in order to optimise
                  their function and enhance their performance, helping them
                  both move, feel and perform to the best of their abilities.
                </li>
              </ul>
            </div>
          </div>
          <div class="details">
            <div class="details__summary">
              <h3 class="headline headline--normal">Education</h3>
            </div>
            <div class="details__body">
              <p>
                Robert graduated with an honours degree from University College
                Dublin and has worked as a physiotherapist with UCD Rugby, GAA
                and Soccer teams.
              </p>
            </div>
          </div>
          <div class="details">
            <div class="details__summary">
              <h3 class="headline headline--normal">Experience</h3>
            </div>
            <div class="details__body">
              <p>Other experience includes:</p>
              <ul>
                <li>acute rehabilitation</li>
                <li>
                  Paediatric physiotherapy in Our Lady's Children's Hospital
                  Crumlin
                </li>
                <li>Respiratory physiotherapy</li>
                <li>
                  Robert is a proud member of the Irish Society of chartered
                  physiotherapy and CORU
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('/reviews-carousel') %> <%- include('/business-details') %>
</main>
