<%- include('/header', {title: "About DCI ", description: `DCI description`,
active: 3}) %>
<main>
  <section class="page-section page-section--first">
    <div class="wrapper">
      <h1>Team</h1>
    </div>
  </section>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="profile">
          <h2>David Carpenter MISCP</h2>
          <h3>Chartered Physiotherapist</h3>
          <p>
            David is an expert in Manual Therapy, Exercise Rehabilitation, Dry
            Needling and Non-Surgical Spinal Decompression Therapy in the
            treatment of Low Back and Neck Pain.
          </p>
          <div class="faq">
            <details open>
              <summary><h3>specialty</h3></summary>
              <ul>
                <li>
                  David is and expert in Manual Therapy, Exercise
                  Rehabilitation, Dry Needling and Non-Surgical Spinal
                  Decompression Therapy in the treatment of Low Back and Neck
                  Pain.
                </li>
                <li>
                  David has a keen interest in human movement with particular
                  focus on Spinal Disc Issues.
                </li>
                <li>
                  David's mission is to prevent his clients requiring Spinal
                  Surgery via a Comprehensive Assessment, Diagnose and STATE OF
                  THE ART TREATMENT been, Non-Surgical Spinal Decompression FOR
                  LOW BACK AND NECK PAIN.
                </li>
                <li>
                  David is very proud to be one of the very few Clinics in
                  Dublin to offer Non-Surgical Spinal Decompression Therapy
                  combined with Chartered Physiotherapy.
                </li>
              </ul>
            </details>
            <details>
              <summary><h3>education</h3></summary>
              <ul>
                <li>
                  David graduated from Leeds Metropolitan University is 2010
                  with an Honours Degree in Physiotherapy.
                </li>
                <li>
                  David also possess a Honours Degree in Rehabilitation Studies
                  which he gain at University of Wolverhampton.
                </li>
              </ul>
            </details>
            <details>
              <summary><h3>experience</h3></summary>
              <ul>
                <li>
                  David worked at Leeds United Football Club after graduating,
                  his role involved working with the first team players.
                </li>
                <li>
                  DC Physiotherapy was set up in 2014 following David's return
                  to Ireland.
                </li>
                <li>
                  David is a proud member of the Irish Society of Chartered
                  Physiotherapists and CORU.
                </li>
              </ul>
            </details>
          </div>
        </div>
        <div class="generic-image">
          <picture>
            <img src="/assets/images/david-scaled.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </section>
  <%- include('/reviews-carousel')%> <%- include('/business-details')%>
</main>
<%- include('/footer') %>
