---
layout: layout.ejs
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-tendonitis.jpg" alt="" />
          </picture>
        </div>
        <div class="generic-content">
          <h1 class="headline headline--normal">Tendonitis</h1>

          <p>
            Inflammation of a tendon or mostly known as Tendonitis. Tendonitis
            defines a wide range of complications ranging from a minor
            irritation on the tendon surface to active degeneration of tendons.
            Degenerative tendon disease acts just like degenerative joint
            disease. It is very important to establish the stage and progression
            of the disease so a clear line of action can be determined.
          </p>

          <p>
            Tendonitis usually occurs due to either an increased activity or any
            unexpected loading of an area. Usually, the first line of action is
            management by reducing inflammation, restoring movement in the
            muscle and soon recovery will progress.
          </p>

          <p>
            Management methods typically depend on the location of the tendon.
          </p>

          <p>
            The patellar tendon located in the knee and Achilles tendon in the
            leg is two of the most notorious tendons that form chronic
            irritation and are difficult to manage.
          </p>

          <p>
            Another tendon, located in the shoulder rotator cuff, usually causes
            impingement and a quite stubborn condition to resolve and manage.
          </p>

          <p>
            Each of these scenarios requires developing clear clinical analysis
            that helps reduce tendon pain while addressing and treating the
            underlying causes of the problem at the same time.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section page-section--light-grey">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-content">
          <p>
            Again, this is an area where comprehensive knowledge of the
            biomechanical functionality of the body is crucial to effectively
            evaluate the exact location of breakdown.
          </p>
        </div>
        <div class="generic-content">
          <p>
            Historically, tendon pain was treated with cortisone steroid
            injections but its use has become less frequent lately due to an
            increased risk of rupture in the Patellar and Achilles tendon
            post-injection. If a rupture occurs, a debilitating disability
            develops and requires surgical reconstruction.
          </p>
        </div>
        <div class="generic-content">
          <p>
            For shoulder impingements, the risk due to steroid injection is much
            lower.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
