---
layout: layout.ejs
active: 1
---

<main>
  <section class="page-section">
    <div class="wrapper">
      <div class="rows">
        <div class="generic-image">
          <picture>
            <img src="/assets/images/dc-whiplash.jpg" alt="" />
          </picture>
        </div>
        <div>
          <h2 class="headline headline--normal">Whiplash</h2>
          <div class="generic-content">
            <p>
              Whiplash is a very controversial condition, because there are many
              disputes about its existence but because of the way it is handled
              by the legal and medical system. That being said, Whiplash can be
              devastating for those inflicted.
            </p>
            <p>
              The methods to treat chronic whiplash pain differ among pain
              clinics globally. Like any other condition, there is a varying
              degree of pain among cases.
            </p>
            <p>
              Current International guidelines class Whiplash as a category 4
              type injury.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="wrapper">
      <h2 class="headline headline--normal">WHIPLASH TREATMENT</h2>
      <div class="generic-content">
        <p>
          The treatment regimen for Whiplash depends upon the severity and
          extent of the injury but can involve a combination of:
        </p>
        <ul>
          <li>Stretching</li>
          <li>Manual Therapy</li>
          <li>Postural Correction</li>
          <li>Soft tissue work</li>
          <li>Muscle Retraining</li>
          <li>Dry Needling</li>
        </ul>
        <p>
          Trained Chartered Physiotherapists use the above methods along with
          many others to treat cases of Whiplash.
        </p>
        <p>
          For more complicated cases, usually, a multidisciplinary treatment
          management team is required. This involves General Practitioner (GP),
          Neurologist, Pain Management Specialist (Anesthetist), occupational
          therapist, clinical psychologist along with a dedicated physiotherapy
          team.
        </p>
        <p>
          A multitude of drugs is also required for most cases. Typically this
          involves muscle or joint injections or procedures to reduce the pain
          sensitivity in nerve ending the so-called “nerve block”.
        </p>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="wrapper">
      <h2 class="headline">
        <span class="headline--blue">CHRONIC WHIPLASH</span> -
        MULTI-DISCIPLINARY MANAGEMENT
      </h2>
      <div class="generic-content">
        <p>
          For these more complicated cases, all the members of a
          multidisciplinary team must be in complete sync regarding the
          treatments so the patient can receive optimal care. While this liaison
          is paramount for all cases and conditions, Whiplash requires extra
          care because complex pain is involved in most of the Whiplash cases.
        </p>
        <p>
          It is equally important that the patient also understands that all
          members of his/her treatment need to be aware of any treatments the
          patient is currently receiving. This means, as a patient, you need to
          be actively involved in your Whiplash treatment, ensuring that your
          multidisciplinary treatment team is in sync and aware of every
          treatment that you are receiving.
        </p>
        <p>
          While many Whiplash cases are just simple tissue strains that can
          resolve eventually, however, sometimes it is difficult to analyze that
          initially, therefore it is important to ensure the recovery process
          has progressed predictably and the physical signs are showing gradual
          improvement.
        </p>
        <p>
          If the recovery is not going as predicted and there is no/slower
          improvement in physical signs, an appropriate intervention should be
          planned and implemented. “Hope” is no treatment and wishful thinking
          should be avoided at all costs.
        </p>
        <p>
          DC Physiotherapy Clondalkin are experts in treating whiplash injuries,
          we can also provide medical legal reports for court.
        </p>
      </div>
    </div>
  </section>
</main>
